.navHeader{
  background-color: #F55A5A;
  align-items: center;
  padding: 10px;
   
}
.heading_text{
  color: white;
  align-self: center;
}
.card_div{
 
  width: 50%;
  display: flex;
  padding: 20px 36px;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-radius: 10;
  align-self: center;
}
.image{
  height: 168px;
  width: 125px;
  border-radius: 20px;
  padding: 10px;
}
.link{
  color: #918E9B;
  font-size: 10.24;
}
.country, .about{
  font-size: 10.24;
}
.location{
  font-size: 24;
}
.date{
  font-size: 10.24;
  font-weight: bold;
}
.content{
  align-items: baseline;
}
#icon{
  color: #F55A5A;
  font-size: 12;
}